{% extends 'degree_checklist/base.html' %}

{% block content %}
<h1>Current Department Requirements</h1>
<h3>Total: {{ department_requirements_list|length }}</h3>
<hr>
<ul>
    {% for item in department_requirements_list %}
    <li>
        <span>Department ID: </span> <span>{{ item.DepartmentID }}</span>
        <br>
        <span>Department Name: </span><span>{{ item.DepartmentName }}</span>
        <br>
        <span>Department Course ID: </span><span>{{ item.DepCourseID }}</span>
        <br>
        <span>Department Course Name: </span><span>{{ item.DepCourseName }}</span>
        <br>
        <span>Years Required: </span><span>{{ item.YearsRequired }}</span>
        <br>
    </li>
    <br>
    {% endfor %}
</ul>
</body>

{% endblock %}